@use '../styles/mixins/media.scss' as *;

html {
	width: 100%;
	height: 100%;
	font-size: calc(1000vw / 750);
	@include pc {
		font-size: max(10px, calc(1000vw / 1600));
	}

	font-family: var(--Poppins);
}

body {
	width: 100%;
	height: 100%;
	background-color: var(--color-bg);
}
